{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">TOTAL</th>
            </tr>
        </thead>
        <tbody>
                {% for item in portfolio %}
                <tr>
                    {% for symbol in symbols %}
                        <td class="text-start">{{ symbol }}</td>
                    {% endfor %}

                    {% for share in shares %}
                    <td class="text-end">{{ share }}</td>
                    {% endfor %}

                    {% for price in prices %}
                    <td class="text-end">{{ price }}</td>
                    {% endfor %}

                    {% for total in totals %}
                    <td class="text-end">{{ total }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="3">Cash</td>
                <td class="border-0 text-end"></td>
            </tr>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="3">TOTAL</td>
                <td class="border-0 w-bold text-end"></td>
            </tr>
        </tfoot>
    </table>
{% endblock %}
